# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Final Project CodeBlocks 2024/Final Project CodeBlocks 2024.layout
Final Project CodeBlocks 2024/Final Project CodeBlocks 2024.depend
Final Project CodeBlocks 2024/Final Project CodeBlocks 2024.depend
Final Project CodeBlocks 2024/Final Project CodeBlocks 2024.cbp
Final_Project_CodeBlocks 2024/Final_Project_CodeBlocks_2024.depend
